@import "tailwindcss";

@theme inline {
  --color-light-blue: #D1E6F6;
  --color-pale-yellow: #FFF6C6;
  --color-peach: #FEC29F;
  --color-soft-pink: #FFDAE4;
  --color-dark: #131718;
  --color-white: #FFFFFF;

  --font-display: var(--font-league-gothic);
  --font-body: var(--font-dm-sans);
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--color-white);
  color: var(--color-dark);
  font-family: var(--font-body), sans-serif;
}
